.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  &-item {
    padding: 10px 20px;
    a {
      color: olivedrab;
    }
  }
  &-item:hover {
    background-color: darkseagreen;
    a {
      text-decoration: none;
      color: rgb(78, 112, 10);
    }
  }
}
